.home{
    overflow-x: hidden;
}
.quote-div{
    padding: 10px;
}
.quote-div>h3{
    margin: 15px;
}
.job-search>h2{
    margin: 10px 0px;
}
.search-div{
    background-color: rgb(110, 61, 150);
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 40px;
}
.search-txt{
    width: 20%;
    font-size: 30px;
    text-align: center;
}
.search-tab{
    width: 65%;
    padding: 10px 15px;
    border-radius: 20px;
}
.search-btn{
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: none;
    background-color: rgb(37, 10, 65);
}
.top-btn{
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    background-color: none;
    border: none;
    position: absolute;
    right: 10px;
    background-color: rgb(5, 0, 26);

}
.top-icon{
    color: wheat;
    font-size: 30px;
}
@media screen and (max-width:400px) {
    .quote-div>h1{
        font-size: 20px;
    }
    .quote-div>h3{
        font-size: 15px;
        font-weight: 300;
        text-align: center;
    }
    .search-div{
        width: 95%;
        padding: 5px;
    }
    .search-txt{
        font-size: 15px;
        width: fit-content;
    }
    .search-tab{
        width: 50%;
        padding: 5px 10px;
        font-size: 12px;
    }
    .search-btn{
        padding: 5px 5px;
        font-size: 10px;
    }
    .job-search>h2{
        font-size: 15px;
    }
}
