.aboutTxt{
    padding: 10px;
}
.aboutLeft{
    background-color: rgb(23, 4, 46);
    padding: 20px;
    color:white;
}
.about-letter{
    width: fit-content;
    font-size: 45px;
}
.aboutPara{
    text-align: justify;
    font-size: 20px;
    padding: 20px 20px;
    width: 100%;
    color: black;
    background-color: rgb(212, 193, 243);
}
.aboutPara>p{
    font-size: 16px;
}
.aboutImg{
    height: 300px;
    width: 500px;
    background-image: url('../assets/aboutImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.aboutImg>span{
    font-size: 20px;
    font-weight: bolder;
}

@media screen and (max-width:400px) {
    .aboutTxt{
        flex-direction: column;
    }
    .aboutLeft{
        flex-direction: row;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
    }
    .about-letter{
        font-size: 20px;
    }
    .aboutPara>h1{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .aboutPara>p{
        font-size: 15px;
    }
    .aboutImg{
        display: contents;
    }
}

