.banner{
    background-color: rgb(5, 0, 26);
    height: 75vh;
    padding: 20px;
    color: white;
}
.banner-div-1{
    align-items: end;
    padding: 20px 0px;
    height: 100%;
    width: 50%;
}
.banner-txt{
    align-items: flex-start;
    padding: 20px;
}
.banner-txt>p{
    margin: 10px 0px;
}
.banner-btns{
    width: 70%;
    justify-content: center;
}
.banner-btns>span{
    padding: 10px 15px;
    font-size: 15px;
    margin: 0px 10px;
    color:white;
    background-color: rgb(58, 3, 95);
    border-radius: 20px;
    cursor: pointer;
}
.banner-btns>span:hover{
    background-color: rgb(113, 43, 160);
    color: black;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100%;
    width: 50%;
    overflow: hidden;
    width: 40%
}
.banner-img>img{
    height: 100%;
    margin-left: 50px;
}