.banner{
    background-color: rgb(5, 0, 26);
    color: white;
}
.banner-div{
    justify-content: center;
    align-items: center;
}
.banner-div-1{
    padding: 10px;
}
.banner-txt{
    align-items: flex-start;
}
.banner-txt>p{
    margin: 10px 0px;
}
.banner-btns{
    margin: 10px;
}
.banner-btns>span{
    padding: 10px 15px;
    font-size: 2vh;
    margin: 0px 10px;
    color:white;
    background-color: rgb(58, 3, 95);
    border-radius: 20px;
    cursor: pointer;
}
.banner-btns>span:hover{
    background-color: rgb(113, 43, 160);
    color: black;
}


@media screen and (max-width:400px) {
    .banner-div{
        flex-direction: column-reverse;

    }
    .banner-div-1{
        margin: 10px;
    }
    .banner-txt>h1{
        font-size: 20px;
    }
    .banner-txt>p{
        font-size: 15px;
        width: 70%;
    }
}