.counterUp{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0px auto;
    padding:10px;
}
.counterUp>.counter-div-1{
    font-weight: bolder;
}
.plus{
    font-size:4vh;
    margin: 0px 5px;
}

@media screen and (max-width:400px) {
    .counterUp{
        margin-top: -20px;
        width: 100%;
    }
    .sub-counter-div>h1{
        font-size: 20px;
    }
    .counter-div-1{
        margin: 3px 0px;
    }
    .plus{
        font-weight: 200;
        margin: 0px 3px;
    }
    .counter-div-1>p{
        font-size: 12px;
        font-weight: 200;
    }
}