.courses-div{
    margin: 0px auto;
    padding: 20px 0px;
    background-color: rgb(215, 175, 248);
}
.course-head{
    width: 80%;
    margin: 0px auto;
}
.courses-title{
    text-align: justify;
    padding: 10px 20px;
}
.courses-title>p{
    font-size: 20px;
}
.courses-title>h1{
    line-height: 30px;
    margin-bottom: 20px;
    color: rgb(125, 40, 204);
    font-weight: bolder;
    text-align: center;
}
.isoImg{
    height: 230px;
}
.courses-list{
    padding: 20px 0px;
}
.courses-list>h1{
    margin-bottom: 5px;
}
.courses-list>p{
    font-size: 16px;
}
.courses-details{
    flex-wrap: wrap;
    padding: 10px;
}
.course-card{
    width: 20%;
    height: 420px;
    align-items: flex-start;
    text-align: justify;
    padding: 11px;
    margin: 0px 10px;
    border-radius: 5px;
    background-color: rgb(228, 217, 253);
}
.course-card>img{
    height: 150px;
    width: 100%;
}
.course-card>p{
    font-size: 15px;
}
h2>a{
    text-decoration: none;
    margin: 5px 0px ;
}
.price-lang{
    width: 100%;
    justify-content: space-between;
}
.course-price{
    margin: 10px 0px;
}
@media screen and (max-width:576px) {
    .courses-div{
        padding: 0;
    }
    .course-head{
        width:100%;
        flex-direction: column;
    }
    .courses-title{
        background-color: rgb(215, 175, 248);
        background-image: url('../assets/iso.png');
        background-size:contain;
        background-position: center;
        background-repeat:no-repeat;
        background-size: 70%;
        background-blend-mode:overlay;
    }
    .courses-title>p{
        font-size: 15px;
    }
    #iso-img{
        display: none !important;
    }
    .courses-list{
        padding: 10px;
    }
    .courses-list>p{
        text-align: center;
    }
    .courses-details{
        flex-direction: column;
    }
    .course-card{
        width: 100%;
        height: fit-content;
        margin: 5px 0;
    }
}