.footer{
    background-color: rgb(5, 0, 26);
    height: 50vh;
    margin-top: 20px;
    color: white;
}
.footer-details{
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    padding: 20px;
}
.footer-div-1{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.footer-title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 30px;
    width: fit-content;
    padding: 20px;
}
.footer-title-icon{
    font-size: 20px;
    margin: 20px 0px;
}
.footer-icons{
    display: flex ;
    flex-direction: row !important;
}
.footer-icons>li{
    width: fit-content;
    margin: 0 10px ;
}
.footer-icon{
    font-size: 35px;
}
.footer-div>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding: 10px;
}
.footer-head{
    font-size: 20px;
    color: rgb(73, 73, 73);
}
.footer-end{
    text-align: center;
}

@media screen and (max-width:576px) {
    .footer{
        height: fit-content;
        margin: 0;
    }
    .footer-details{
        flex-direction: column;
    }
    .footer-div{
        width: 100%;
    }
    .footer-div-1{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .footer-title-icon{
        margin: 10px 0;
    }
    .footer-icons{
        width: 100%;
        justify-content: space-evenly;
    }
    .footer-end>p{
        font-size: 12px;
    }
}