.footer{
    background-color: rgb(5, 0, 26);
    height: 50vh;
    margin-top: 20px;
    color: white;
}
.footer-details{
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    padding: 20px;
}
.footer-div-1{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.footer-title{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 30px;
    width: fit-content;
    padding: 20px;
}
.footer-title-icon{
    font-size: 20px;
    margin: 20px 0px;
}
.footer-icons>ul{
    display: flex;
}
.footer-icon{
    font-size: 35px;
    margin: 10px;
}
.footer-div>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding: 10px;
}
.footer-head{
    font-size: 20px;
    color: rgb(73, 73, 73);
}
.footer-end{
    text-align: center;
}