.nav-div1{
    background-color: rgb(5, 0, 26);
    color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.subdiv1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}
.title-icon{
    width: fit-content;
    text-align: center;
}
.title-icon>span{
    letter-spacing: 3px;
    font-weight: bolder;
}
.navbar-list{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.navbar-list>li:hover,.title-icon>span:hover{
    color: rgb(77, 12, 151);
    cursor: pointer;
}
.subdiv2{
    width: 20%;
}
.nav-search-tab{
    width: 100%;
    font-size: 15px;
    border-radius: 50px;
    padding: 5px 10px;
    border: none;
}
.burger-icon{
    display: none;
}
@media screen and (max-width:576px) {
    .nav-div1{
        padding: 5px  0;
    }
    .subdiv1{
        width: 30%;
    }
    .subdiv2{
        width:10%;
    }
    .burger-icon{
        display: contents;
    }
    .navbar-list,.nav-search-tab{
        display: none !important;
    }
    .display-nav{
        transform: 2s ease;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(19, 8, 63);
        width: 100vw ;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        padding: 10px;
    }
    .display-nav>li{
        margin: 5px;
    }
    .nav-cross-btn{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}