.partners-div{
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}
.partners-icons{
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}
.partners-icon{
    height: 50px;
    margin: 0 10px;
}
.grp-1{
    height: 100px;
    width: 150px;
    margin-top: -20px;
}
.ibm{
    height: 90px;
}
.hcl{
    height: 70px;
}
@media screen and (max-width:400px) {
    .partners-div>h1{
        font-size: 20px;
    }
    .partners-icon{
        height: 30px;
        width: auto;
    }
    .grp-1{
        margin-top: 0;
        height: 50px;
        width: 100px;
    }
    .ibm{
        height: 70px;
    }
    .hcl{
        height: 50px;
    }
}