*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*
font-family: 'Mulish', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fld-rr{
    flex-direction: row-reverse !important;
}